# 유저 기반 필터링 구현
* 참고: https://skifree64.github.io/machine_learning/2019/11/25/collaborative-filtering.html

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [2]:
base_dir = '/content/drive/My Drive/Colab Notebooks/RS/'

In [3]:
import pandas as pd
import numpy as np
import re

import matplotlib.pyplot as plt
%matplotlib inline

# 데이터셋
*  Grouplens 사이트에서 만든 MovieLens 데이터
* https://grouplens.org/datasets/movielens/latest/

In [4]:
# 위에서 참고한 블로그 데이터와 약간 다름(Grouplens에서 제공하는 데이터셋 버전이 다양)
movie_df = pd.read_csv(base_dir + 'movies.csv')
rating_df = pd.read_csv(base_dir + 'ratings.csv')

print(movie_df.shape)
print(rating_df.shape)

(9742, 3)
(100836, 4)

In [8]:
movie_df.head()

   movieId  ...                                       genres
0        1  ...  Adventure|Animation|Children|Comedy|Fantasy
1        2  ...                   Adventure|Children|Fantasy
2        3  ...                               Comedy|Romance
3        4  ...                         Comedy|Drama|Romance
4        5  ...                                       Comedy

[5 rows x 3 columns]

In [9]:
rating_df.head()

   userId  movieId  rating  timestamp
0       1        1     4.0  964982703
1       1        3     4.0  964981247
2       1        6     4.0  964982224
3       1       47     5.0  964983815
4       1       50     5.0  964982931

In [5]:
rating_movie = pd.merge(movie_df, rating_df, on='movieId', how='inner')
print(rating_movie.shape)
rating_movie.head()

(100836, 6)

   movieId             title  ... rating   timestamp
0        1  Toy Story (1995)  ...    4.0   964982703
1        1  Toy Story (1995)  ...    4.0   847434962
2        1  Toy Story (1995)  ...    4.5  1106635946
3        1  Toy Story (1995)  ...    2.5  1510577970
4        1  Toy Story (1995)  ...    4.5  1305696483

[5 rows x 6 columns]

# Train/Test split
* 유니크한 유저는 610명 -> 각각 5개 이상의 리뷰를 남겼음을 확인
* 8:2 비율로 나누어도 무방하다고 판단

In [6]:
cnt = 0
for user in rating_movie['userId'].unique():
  review_per_user = len(rating_movie.loc[rating_movie['userId'] == user])
  if review_per_user <= 5:
    print(user)
  else:
    cnt += 1

print(cnt) # 유니크한 유저 수와 동일

610

In [7]:
from sklearn.model_selection import train_test_split

# 각 유저당 20%의 리뷰는 검증셋으로 구분하는 함수
def train_test_sp(df, column): 
  train_df = pd.DataFrame()
  val_df = pd.DataFrame()

  for user in df[column].unique():
    user_review = df.loc[df[column] == user]
    train_tmp, val_tmp = train_test_split(user_review, test_size=0.2)

    train_df = pd.concat([train_df, train_tmp])
    val_df = pd.concat([val_df, val_tmp])

  return train_df, val_df

In [8]:
Train, Val = train_test_sp(df=rating_movie, column='userId')
print(Train.shape)
print(Val.shape)

(80419, 6)
(20417, 6)

In [9]:
N_user = len(Train['userId'].unique()) # 댓글 작성자
N_movie = len(Train['title'].unique()) # 영화 수

data = Train[['userId', 'movieId', 'rating']]
data = np.array(data)

ratings = {i: {} for i in Train['userId'].unique()} # ratings = {userId: {movieId: rating}}
for a, b, c in data:
  ratings[a][b] = c

neighbors = {} # neighbors = {userId: [sorted(userId, similarity)]}
means = {} # {userId: mean of userId's ratings}
for i in ratings: # i: userId
  rat = 0
  count = 0
  for j in ratings[i]: # j: movieId
    count += 1
    rat += ratings[i][j]
  means[i] = rat / count

## 코사인 유사도 공식

![image.png]()

In [10]:
# 유저들(2명) 간 코사인 유사도 계산
def sim_user(user1, user2):
  # 두 유저의 평점을 저장할 리스트
  rating1 = []
  rating2 = []
  
  # 두 사람이 모두 본 영화만 리스트로 저장
  for movie_id in ratings[user1]:
    if movie_id in ratings[user2]:
      rating1.append(ratings[user1][movie_id])
      rating2.append(ratings[user2][movie_id])
    
  if len(rating1) == 0:
    return 0.0
  
  for x in range(len(rating1)):
    # 각 평점에서 평점의 평균을 빼준다.
    rating1[x] = rating1[x] - means[user1]
    rating2[x] = rating2[x] - means[user2] 

  vec = ((np.linalg.norm(rating1)) * (np.linalg.norm(rating2))) # 두 유저 평점 각각의 표준편차(L2 norm) 곱하기

  if vec != 0.0: # 분모가 0이 아니라면
    sim = np.dot(rating1, rating2) / (vec) # 코사인 유사도 계산
  
    return round(sim, 4) # 소수점 아래 4자리까지 계산후 리턴

  else:
    return 0.0 # 분모가 0이면 계산할 수 없음

In [11]:
# 모든 유저들 간 유사도 계산
def calculate_similarity():
  for i in Train['userId'].unique():
    nei = []
    for j in Train['userId'].unique():
      if i != j: # 서로 다른 유저일 경우만
        nei.append((j, sim_user(i, j)))
                  
    # 유저간 similarity 기준 내림차순으로 정렬            
    nei.sort(key=lambda x: x[1], reverse=True)
    neighbors[i] = nei

In [12]:
calculate_similarity()   # 모든 유저간 유사도 계산해서 저장
print(len(neighbors[2])) # 유저2와 비교되는 다른 모든 유저들 수
print(neighbors[2])

609
[(1, 1.0), (5, 1.0), (19, 1.0), (33, 1.0), (43, 1.0), (82, 1.0), (144, 1.0), (145, 1.0), (155, 1.0), (160, 1.0), (193, 1.0), (213, 1.0), (216, 1.0), (240, 1.0), (341, 1.0), (359, 1.0), (399, 1.0), (468, 1.0), (524, 1.0), (597, 1.0), (51, 1.0), (221, 1.0), (299, 1.0), (426, 1.0), (563, 1.0), (552, 1.0), (14, 1.0), (262, 1.0), (11, 1.0), (244, 1.0), (313, 1.0), (34, 1.0), (301, 1.0), (361, 1.0), (387, 1.0), (520, 1.0), (187, 1.0), (427, 1.0), (379, 1.0), (115, 1.0), (36, 1.0), (260, 1.0), (267, 1.0), (375, 1.0), (316, 1.0), (13, 1.0), (129, 1.0), (505, 1.0), (29, 1.0), (329, 1.0), (338, 1.0), (454, 1.0), (491, 1.0), (164, 1.0), (494, 1.0), (168, 1.0), (285, 1.0), (37, 1.0), (101, 1.0), (407, 1.0), (172, 1.0), (190, 1.0), (333, 1.0), (143, 1.0), (598, 1.0), (496, 1.0), (376, 0.9903), (280, 0.9873), (306, 0.9214), (460, 0.9104), (125, 0.8348), (223, 0.8279), (428, 0.8232), (246, 0.7845), (93, 0.7646), (405, 0.7592), (45, 0.7359), (226, 0.7359), (471, 0.7359), (196, 0.7359), (91, 0.7334), (200, 0.7298), (490, 0.7168), (326, 0.6968), (137, 0.6912), (416, 0.6872), (393, 0.6729), (184, 0.6335), (596, 0.6334), (332, 0.5784), (351, 0.5771), (261, 0.565), (381, 0.538), (475, 0.4941), (434, 0.472), (209, 0.4638), (606, 0.4574), (567, 0.4445), (77, 0.4427), (189, 0.4325), (227, 0.4314), (528, 0.4247), (378, 0.4242), (111, 0.3984), (514, 0.3874), (560, 0.38), (60, 0.3756), (354, 0.3636), (68, 0.3445), (222, 0.3429), (445, 0.3326), (308, 0.331), (564, 0.3061), (357, 0.3038), (573, 0.3007), (424, 0.2945), (610, 0.2939), (495, 0.2914), (523, 0.2892), (537, 0.2719), (370, 0.2679), (122, 0.2678), (585, 0.2584), (52, 0.2464), (25, 0.2431), (319, 0.23), (275, 0.2264), (380, 0.2188), (249, 0.2005), (282, 0.1735), (42, 0.1722), (241, 0.169), (466, 0.1643), (322, 0.1638), (47, 0.147), (365, 0.147), (561, 0.1433), (363, 0.1365), (461, 0.1324), (116, 0.1272), (153, 0.1236), (509, 0.1074), (76, 0.0987), (292, 0.0913), (65, 0.0836), (339, 0.0657), (601, 0.047), (152, 0.0422), (551, 0.0402), (517, 0.0339), (10, 0.0332), (487, 0.0322), (417, 0.02), (441, 0.0051), (317, 0.0042), (27, 0.0), (31, 0.0), (32, 0.0), (44, 0.0), (46, 0.0), (71, 0.0), (78, 0.0), (90, 0.0), (96, 0.0), (124, 0.0), (134, 0.0), (151, 0.0), (167, 0.0), (185, 0.0), (201, 0.0), (206, 0.0), (214, 0.0), (217, 0.0), (234, 0.0), (266, 0.0), (269, 0.0), (270, 0.0), (273, 0.0), (276, 0.0), (277, 0.0), (291, 0.0), (293, 0.0), (347, 0.0), (350, 0.0), (364, 0.0), (372, 0.0), (385, 0.0), (389, 0.0), (412, 0.0), (451, 0.0), (456, 0.0), (469, 0.0), (470, 0.0), (492, 0.0), (500, 0.0), (504, 0.0), (529, 0.0), (544, 0.0), (579, 0.0), (584, 0.0), (587, 0.0), (604, 0.0), (605, 0.0), (8, 0.0), (20, 0.0), (104, 0.0), (149, 0.0), (259, 0.0), (294, 0.0), (321, 0.0), (395, 0.0), (446, 0.0), (458, 0.0), (482, 0.0), (501, 0.0), (527, 0.0), (592, 0.0), (594, 0.0), (100, 0.0), (150, 0.0), (289, 0.0), (302, 0.0), (368, 0.0), (120, 0.0), (147, 0.0), (181, 0.0), (402, 0.0), (521, 0.0), (23, 0.0), (79, 0.0), (109, 0.0), (286, 0.0), (297, 0.0), (312, 0.0), (553, 0.0), (95, 0.0), (188, 0.0), (257, 0.0), (510, 0.0), (26, 0.0), (59, 0.0), (136, 0.0), (173, 0.0), (174, 0.0), (192, 0.0), (208, 0.0), (235, 0.0), (243, 0.0), (349, 0.0), (485, 0.0), (531, 0.0), (569, 0.0), (35, 0.0), (113, 0.0), (345, 0.0), (530, 0.0), (571, 0.0), (61, 0.0), (303, 0.0), (310, 0.0), (311, 0.0), (369, 0.0), (377, 0.0), (429, 0.0), (342, 0.0), (479, 0.0), (518, 0.0), (591, 0.0), (108, 0.0), (118, 0.0), (253, 0.0), (440, 0.0), (576, 0.0), (3, 0.0), (39, 0.0), (146, 0.0), (271, 0.0), (142, 0.0), (255, 0.0), (394, 0.0), (430, 0.0), (457, 0.0), (507, 0.0), (12, 0.0), (224, 0.0), (9, 0.0), (467, 0.0), (545, 0.0), (250, 0.0), (536, 0.0), (75, 0.0), (110, 0.0), (403, 0.0), (540, 0.0), (48, 0.0), (194, 0.0), (371, 0.0), (309, 0.0), (568, 0.0), (595, 0.0), (74, 0.0), (87, 0.0), (355, 0.0), (384, 0.0), (539, 0.0), (225, 0.0), (450, 0.0), (546, 0.0), (558, 0.0), (465, 0.0), (207, 0.0), (478, 0.0), (92, 0.0), (508, 0.0), (128, 0.0), (165, 0.0), (183, 0.0), (344, 0.0), (439, 0.0), (463, 0.0), (397, 0.0), (406, 0.0), (383, 0.0), (315, 0.0), (431, 0.0), (538, 0.0), (245, 0.0), (238, 0.0), (554, 0.0), (218, 0.0), (55, 0.0), (158, 0.0), (53, 0.0), (138, 0.0), (281, 0.0), (180, 0.0), (516, 0.0), (127, 0.0), (575, 0.0), (499, 0.0), (442, 0.0), (324, 0.0), (157, 0.0), (175, 0.0), (392, 0.0), (547, 0.0), (388, 0.0), (556, 0.0), (358, 0.0), (578, 0.0), (481, 0.0), (236, 0.0), (163, 0.0), (360, 0.0), (535, 0.0), (103, -0.0014), (300, -0.0023), (348, -0.0084), (17, -0.0087), (583, -0.0217), (526, -0.0217), (331, -0.0279), (599, -0.0317), (177, -0.0338), (525, -0.0377), (274, -0.0396), (543, -0.0434), (448, -0.0435), (41, -0.0464), (231, -0.0548), (21, -0.0572), (408, -0.0594), (462, -0.0602), (328, -0.1013), (600, -0.1063), (112, -0.1093), (489, -0.121), (203, -0.1292), (586, -0.1312), (330, -0.1346), (272, -0.1394), (432, -0.1467), (477, -0.1515), (298, -0.173), (83, -0.1748), (211, -0.1782), (433, -0.1785), (73, -0.1852), (352, -0.1859), (50, -0.1883), (219, -0.1907), (582, -0.1957), (159, -0.1985), (522, -0.2), (382, -0.2024), (230, -0.2039), (16, -0.2042), (295, -0.2087), (590, -0.2091), (140, -0.212), (438, -0.2251), (131, -0.2264), (154, -0.2264), (608, -0.2305), (62, -0.2337), (480, -0.2374), (166, -0.2513), (141, -0.2641), (239, -0.2696), (307, -0.2722), (562, -0.2771), (419, -0.2785), (435, -0.2788), (443, -0.2818), (418, -0.2849), (86, -0.2912), (263, -0.2912), (304, -0.2912), (367, -0.2912), (572, -0.2912), (251, -0.2912), (472, -0.2912), (519, -0.2912), (22, -0.2966), (318, -0.3024), (237, -0.3027), (356, -0.303), (532, -0.3034), (233, -0.3103), (80, -0.3112), (483, -0.3165), (515, -0.33), (305, -0.3391), (334, -0.3434), (28, -0.3577), (288, -0.371), (204, -0.3796), (254, -0.3808), (63, -0.3817), (279, -0.384), (119, -0.3847), (362, -0.3917), (105, -0.397), (346, -0.4012), (425, -0.4015), (247, -0.4216), (414, -0.4252), (459, -0.4272), (132, -0.4408), (464, -0.445), (232, -0.4486), (88, -0.4493), (123, -0.4513), (57, -0.4718), (66, -0.481), (400, -0.495), (256, -0.4965), (391, -0.4974), (220, -0.5041), (139, -0.5048), (64, -0.5217), (182, -0.5219), (205, -0.5244), (169, -0.5417), (30, -0.5442), (215, -0.5452), (593, -0.5504), (497, -0.5548), (212, -0.5576), (413, -0.5628), (15, -0.5669), (570, -0.5808), (98, -0.598), (18, -0.6172), (484, -0.6182), (511, -0.6338), (550, -0.6339), (534, -0.6447), (195, -0.6514), (24, -0.669), (296, -0.6912), (49, -0.6912), (603, -0.7279), (474, -0.7316), (366, -0.7629), (199, -0.7652), (453, -0.7655), (67, -0.8063), (327, -0.8109), (323, -0.8206), (542, -0.8372), (415, -0.8476), (420, -0.8917), (320, -0.9193), (290, -0.9367), (580, -0.941), (198, -0.958), (581, -0.9686), (506, -0.981), (503, -0.9812), (7, -1.0), (40, -1.0), (54, -1.0), (89, -1.0), (107, -1.0), (121, -1.0), (130, -1.0), (135, -1.0), (156, -1.0), (161, -1.0), (171, -1.0), (178, -1.0), (179, -1.0), (186, -1.0), (191, -1.0), (202, -1.0), (229, -1.0), (252, -1.0), (264, -1.0), (283, -1.0), (314, -1.0), (336, -1.0), (337, -1.0), (353, -1.0), (373, -1.0), (396, -1.0), (401, -1.0), (411, -1.0), (422, -1.0), (436, -1.0), (476, -1.0), (488, -1.0), (533, -1.0), (541, -1.0), (555, -1.0), (559, -1.0), (607, -1.0), (609, -1.0), (6, -1.0), (94, -1.0), (117, -1.0), (284, -1.0), (447, -1.0), (512, -1.0), (566, -1.0), (602, -1.0), (58, -1.0), (102, -1.0), (410, -1.0), (588, -1.0), (84, -1.0), (162, -1.0), (170, -1.0), (437, -1.0), (325, -1.0), (386, -1.0), (444, -1.0), (486, -1.0), (493, -1.0), (577, -1.0), (498, -1.0), (513, -1.0), (56, -1.0), (81, -1.0), (99, -1.0), (176, -1.0), (248, -1.0), (340, -1.0), (452, -1.0), (557, -1.0), (38, -1.0), (404, -1.0), (455, -1.0), (287, -1.0), (565, -1.0), (4, -1.0), (242, -1.0), (265, -1.0), (589, -1.0), (268, -1.0), (72, -1.0), (133, -1.0), (398, -1.0), (449, -1.0), (126, -1.0), (70, -1.0), (409, -1.0), (502, -1.0), (574, -1.0), (69, -1.0), (197, -1.0), (228, -1.0), (278, -1.0), (335, -1.0), (343, -1.0), (85, -1.0), (473, -1.0), (548, -1.0), (421, -1.0), (423, -1.0), (374, -1.0), (390, -1.0), (549, -1.0), (210, -1.0), (114, -1.0), (106, -1.0), (258, -1.0), (148, -1.0), (97, -1.0)]

## KNN with Means 공식
![image.png]()

In [13]:
# 아직 평점을 매기지 않은 영화에 대해 평점 예측
def predict_rating(user_id, movie_id):
  rating = 0
  K = 0
  j = 0
  for i in range(N_user - 1):
    # valid neighbor는 40명까지 참고
    if j > 40:
      break
    # 해당 영화 평점을 실제로 매긴 neighbor 유저만 취급
    if movie_id in ratings[neighbors[user_id][i][0]]:
      j += 1
      nei_id = neighbors[user_id][i][0]
      nei_sim = neighbors[user_id][i][1]
      # 평점을 평균값 기준으로 가중 평균하는 공식(KNN with KMeans)
      rating += (ratings[nei_id][movie_id] - means[nei_id]) * nei_sim
      K += nei_sim
  
  if K != 0:
    rating = means[user_id] + (rating / K)
  else: # 유저 간 유사도가 0인 경우, 즉 현재 userId와 비슷한 유저가 1명도 없는 경우(가능성 小)
    rating = -1
  return rating

In [14]:
print(predict_rating(1, 1)) # movieId 1번에 대한 userId 1의 예측 평점
print(predict_rating(1, 2))

4.483428238188908
4.092429309764392

In [18]:
# 테스트셋을 대상으로 평점 예측 지표 구하기
def prediction(test_data):
  test = test_data[['userId', 'movieId', 'rating']]
  test = np.array(test)
  
  sqaure = 0
  avg = 0 
  # 1) RMSE, 2) MAE
  # 평점을 부여한 사람만 에러를 구하는 것 -> 즉 평점을 부여하지 않은 아이템에 대해선 계산하지 않는다
  for user_id, movie_id, rating in test:
    sqaure += (predict_rating(user_id, movie_id) - rating) ** 2 # sum of (아이템의 예측 평점 - 아이템의 원래 평점) ** 2
    avg += abs(predict_rating(user_id, movie_id) - rating)
  return np.sqrt(sqaure / len(test)), avg/len(test)

In [19]:
rmse, mae = prediction(Val)
print("RMSE: ", rmse) # rmmse가 상당히 높은데 참고한 블로그에선 약 0.98 -> 데이터셋의 형태가 매우 중요한 듯 보임(실제로 사용자 기반 협업 필터링은 데이터 영향을 많이 받음)
print("MAE: ", mae)

RMSE:  66.25378438746938
MAE:  1.5823782632689567